<form class="user_form">
  <label for="phone_number">Phone Number</label>
  <input type="text" name="phone_number" id="phone_number" value="">

  <label for="drop_location">Drop Location</label>
  <input type="text" id="drop_location" name="drop_location" value="">
</form>
